<div class="wrapper">
  <div class="sidebar" data-color='red' data-image="">
    <app-sidebar-cmp></app-sidebar-cmp>
    <div class="sidebar-background"></div>
  </div>
  <div class="main-panel">
    <!-- <div class="main-content">
      <div class="container-fluid"> -->
    <app-navbar-cmp></app-navbar-cmp>
    <router-outlet></router-outlet>
    <!-- <div *ngIf="isMaps('/maps')">
            
        </div>-->
    <app-footer-cmp></app-footer-cmp>
    <!-- </div>
    </div> -->
  </div>
</div>
