<div class="sidebar" data-color='red' data-image="">
  <app-sidebar-cmp></app-sidebar-cmp>
  <div class="sidebar-background"></div>
</div>
<div class="main-panel">
  <div class="main-content">
    <div class="container-fluid">
      <!--<app-login></app-login>-->
      <p>mensaje</p>
      <p><button class="btn btn-default" (click)="logout()">Logout</button></p>
    </div>
  </div>
  <!--<navbar-cmp></navbar-cmp>
        <dashboard-cmp></dashboard-cmp>
        <div *ngIf="isMaps('/maps')">
            <footer-cmp></footer-cmp>
        </div>-->
</div>
