<div class="main-content">
  <div class="container-fluid">

 <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Inventario</h4>
                        <p class="category">Agrega nuevos artículos o modifica los existentes.</p>
                    </div>
                </div>
            </div>
 </div>


    <ul>
      <li *ngFor="let product of productList">
        <span>{{product.name}} - {{product.price}}</span>
      </li>
    </ul>

    <ul>
      <li *ngFor="let product of productsDb | async">
        <span>{{product.$key}} - {{product.name}} - {{product.description}}</span>
        <span>{{product.quantity}}</span> 
      </li>
    </ul>

  </div>
</div>
