<div class="main-content">
  <div class="container-fluid">
    <ul>
      <li *ngFor="let product of productList">
        <span>{{product.name}} - {{product.price}}</span>
      </li>
    </ul>

    <ul>
      <li *ngFor="let product of productsDb | async">
        <span>{{product.$key}} - {{product.name}} - {{product.description}}</span>
        <span>{{product.quantity}}</span> 
      </li>
    </ul>


    <div class="row columns">
      <button (click)="login()" *ngIf="!(user | async)?.uid">Anonymous Login</button>
      <button (click)="logout()" *ngIf="(user | async)?.uid">Logout</button>
    </div>

  </div>
</div>
